@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

$black: black;
$white: white;
$dark_gray: #7D7D7D;
$light_gray: #F3F3F3;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Libre Baskerville";
    font-weight: bold;
    color: $black;
}